<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/fontawesome-free/css/all.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <script src="/javascript/jquery-3.3.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body class="container">
  <header>
    <h1>SUPER CHAT</h1>
    <%if(user != ''){%>
    <div class="logout">
      <span><%=user%></span>
      <a href="/logout/<%=room%>">Sign Out</a>
    </div>
    <%}%>
  </header>
  <%- body %>
</body>
<script>
  var socket = io.connect('http://localhost:3000' || 'https://murmuring-thicket-85652.herokuapp.com/');

  $(".message-list-div").stop().animate({ scrollTop: $(".message-list-div")[0].scrollHeight}, 1000);

  socket.on('append-post', (content, author) => {
    $('.message-list').append(`<h4 class="username">${author}</h4><li>${content}</li><hr>`);
  })

  $('.submit-post').click(() => {
    let content = $('#newPostContent').val();
    let author = '<%-user%>';
    let room = '<%-room%>';
    let time = Date.now();
    console.log('time: ' + time)

    socket.emit('new-post', content, author, room, time);
    $('#newPostContent').val('')
    $(".message-list-div").stop().animate({ scrollTop: $(".message-list-div")[0].scrollHeight}, 1000);
  })
</script>
</html>