<div class="main-content">
  <%- include partials/roomList.ejs %>
  <div class="message-list-div">
    <div class="room-name-heading"><%=room%></div>
    <div class="close"><a href="/close-room/<%=room%>">close</a></div>
    <ul class="message-list">
      <% posts.forEach(post => { %>
        <li>
          <h4 class="username"><%=Object.keys(JSON.parse(post))[0]%></h4>
          <%=JSON.parse(post)[Object.keys(JSON.parse(post))[0]]%>
        </li><hr>
      <% }) %>
    </ul>
  </div>
  <div class="new-post">
    <div class="new-post-label">NEW POST</div>
    <div class="new-post-form">
      <div id="new-post">
        <textarea rows='5' form="new-post" id="newPostContent" name="newPostContent" class="form-control new-post-text"></textarea>
        <input type="submit" name="submit-post" value="Post" class="btn btn-success submit-post">
      </div>
    </div>
  </div>
</div>

